* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: rgb(63, 63, 63);
    background: radial-gradient(circle, #2e2d2d, #636363);
    font-size: 14px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.contform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

.form {
    width: 60%;
    height: 100%;
    padding: 0.5em 2.5em;
    margin-top: 1em;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    padding: 0.2em;
    text-align: center;
    font-weight:bold; 
    color: rgba(234, 244, 235, 0.911);
    font-size: 1.5em;
}

label,
input,
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.3em;
    font-size: 1.2em;
    font-family:Verdana;
}

input,
textarea {
    background-color: rgba(104, 106, 106, 0.3);
    border: 2px solid transparent;
    border-bottom-color: #bbb;
    padding: 0.5em;
    margin: 0.25em 0 0.25em;
    color: white;
    outline: 0;
    font-size: 1em;
}

input:invalid:focus,
textarea:invalid:focus {
    border-bottom: 2px solid #ff000d;
}

input:valid:focus,
textarea:valid:focus {
    border-bottom: 2px solid #0ec72a;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid #8e999a;
    background-color: rgb(104, 106, 106);
}

.mensaje_error {
	color: #ef2929;
	display: block;
	text-align: center;
	font-size: 15px;
	font-style:normal;
	margin: 1px auto;
    font-weight:bold;
}

.btn {
    background: radial-gradient(circle, #116443, #108c6f);
    color: white;
    cursor: pointer;
    padding: 0.4em;
    margin-top: 0.8em;
    margin-bottom: 0em;
    font-size: 1.2em;
    font-weight:bold;
    border-radius: 1em;
}

@media screen and (max-width: 600px) {
  .contform {
    height: 65vh;
    padding-top: 110px;
    font-size: 5px;
    }

  .form {
        height: 100%;
        padding: 0.1em 1.5em;
        margin-top: 0.2em;
    }

   legend {
        padding: 0.1em;
        font-size: 1.1em;
    }

   label,
   input,
   textarea {
        border-radius: 0.2em;
        font-size: 0.80em;
    }
    
    .mensaje_error {
        font-size: 0.65em;
    } 
    
    .btn {
        font-size: 1em;
    }    
}   