html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

main video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}

.capa {
    position: absolute;
    width: 100%;
    height: 100%; /* Cambiado para que la capa cubra toda la pantalla */
    background: rgb(46, 24, 1);
    opacity: 1;
    mix-blend-mode: overlay;
}

/*FORMULARIO*/

.contform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100%;
    margin: auto;

}

.form {
    display: flex;
    border-radius: 10px;
    background: rgba(34, 33, 33, 0.486);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
}

fieldset {
    border: none;
    padding: 20px;
    margin: auto;
}

h2{
    padding: 0.2em;
    text-align: center;
    font-weight:bold; 
    color: rgba(234, 244, 235, 0.911);
    font-size: 1.5em;
}
    
label,
input,
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.3em;
    font-size: 1.2em;
    font-family:Verdana;
    margin: 10px 0;
}

input,
textarea {
    background-color: rgba(104, 106, 106, 0.3);
    border: 2px solid transparent;
    border-bottom-color: #bbb;
    padding: 0.5em;
    margin: 0.25em 0 0.25em;
    color: white;
    outline: 0;
    font-size: 1em;
}

input:invalid:focus,
textarea:invalid:focus {
    border-bottom: 2px solid #ff000d;
}

input:valid:focus,
textarea:valid:focus {
    border-bottom: 2px solid rgb(218, 86, 46);
}

input:focus,
textarea:focus {
    border-bottom: 2px solid rgb(218, 86, 46);
    background-color: rgb(104, 106, 106);
}

.mensaje_error {
	color: #ef2929;
	display: block;
	text-align: center;
	font-size: 15px;
	font-style:normal;
	margin: 1px auto;
    font-weight:bold;
}

.btn {
    background-color: rgb(218, 86, 46);
    border: none;
    cursor: pointer;
    padding: 0.4em;
    margin-top: 0.8em;
    margin-bottom: 0em;
    font-size: 1.2em;
    font-weight:bold;
    border-radius: 1em;
}

@media screen and (max-width: 768px){
    html{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
  .contform {
    height: 65vh;
    padding-top: 110px;
    font-size: 5px;
    }

  .form {
        height: 100%;
        padding: 0.1em 1.5em;
        margin-top: 0.2em;
    }

   legend {
        padding: 0.1em;
        font-size: 1.1em;
    }

   label,
   input,
   textarea {
        border-radius: 0.2em;
        font-size: 0.80em;
    }
    
    .mensaje_error {
        font-size: 0.65em;
    } 
    
    .btn {
        font-size: 1em;
    }    
}   