footer {
    background-color: rgb(32, 31, 31);
    border-top: 2px solid rgb(218, 86, 46);
    display: flex;
    justify-content:space-between;
    padding: 5px;
}
footer div p{
    font-size: 0.8rem;
}
   
.social-icons {
    list-style: none;
}  
.social-icons li {
    display: inline;
}
.social-icons li a i{
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    margin: 0px 10px;
} 

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px; /* Añadido para separar las redes sociales del texto en pantallas pequeñas */
    }

    .social-icons li {
        margin: 0 5px; /* Reducir el margen entre los íconos */
    }
}