header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 2px solid rgb(218, 86, 46);
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(59, 39, 39, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    z-index: 1;
}


/* Estilos para el contenido dentro del header */
header * {
    display: flex;
}

/* Estilos para el logo */
.logo {
    align-items: center;
    font-size: 2rem;
}

.logo img {
    width: 4rem;
    height: 4rem;
}

.logo h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-style: italic;
}

/* Estilos para el formulario de búsqueda */
header form {
    align-items: center;
}

.barra-busqueda input {
    width: 15rem;
    height: 1.4rem;
    padding: 5px;
    border: none;
    border-radius: 7px;
    margin: 0 5px;
    color: black;
    outline: none;
    font-size: 0.8rem;
}

/* Estilos para los enlaces de navegación */
header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 1rem;
}

/*MENU HAMBURGESA*/

.menuHamburguesa {
    color: white;
    position: relative;
    background: #123456;
    min-height: 48px;
  }

.menuHamburguesa a {
    color: inherit;
    text-decoration: none;
    display:block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .menuHamburguesa input[type="checkbox"], .menuHamburguesa .fa-bars, .menuHamburguesa .fa-times {
    display: none;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    
  }
  
  .menuHamburguesa .fa-bars, .menuHamburguesa .fa-times {
    font-size: 48px;
    pointer-events: none;
  }
  
  .menuHamburguesa input[type="checkbox"] {
    opacity: 0;
  }
  
  .menuHamburguesa nav {
    display: none;
  }
  
  .menuHamburguesa input:checked ~ nav {
    display: block;
    
  }
  
  .menuHamburguesa input:checked ~ .fa-bars {
    display: none;
  }
  
  .menuHamburguesa input:not(:checked) ~ .fa-times {
    display: none;
    transition: 1s;
  }


/* Media query para hacer el header responsive */
@media screen and (max-width: 768px) {
    header {
        flex-direction:column;
        padding: 10px 20px; /* Ajustar el espacio interior */
    }
    header nav,header form{ /*29/04 PARA QUE SE OCULTEN EL NAV Y LA BARRA DE BUSQUEDA*/
        display: none;
    }

    .logo img {
        width: 5rem; /* Reducir el tamaño del logo en pantallas pequeñas */
        height: 5rem;
    }

    
    header form input {
        width: 10rem; /* Reducir el ancho del campo de búsqueda en pantallas pequeñas */
    }

    .menuHamburguesa{
        position: relative;
    }
    .menuHamburguesa input[type="checkbox"], .menuHamburguesa .fa-bars, .menuHamburguesa .fa-times{
        display: block;
    }
}

@media screen and (max-width: 480px){ /*FALTA AGREGAR RESPONSIVE PARA CELULARES*/

}