html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

main video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(46, 24, 1);
    opacity: 0.6;
    mix-blend-mode: overlay;
}

.acceder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
    padding-top: 110px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(218, 86, 46);
    background: rgba(34, 33, 33, 0.486);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
}

fieldset {
    border: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    display: flex;
    width: 100%;
    padding: 0.30rem 0.30rem;
    margin: 0.30rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    color: transparent;
    background-color: transparent;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center;
}
  
.form .form-control label{
    width: 45%;
    box-sizing: border-box;
    border-radius: 0.3em;
    font-size: 1.1em;
    font-family: Verdana;
    text-align: left;
}

fieldset .form-control input {
    width: 55%;
    box-sizing: border-box;
    border-radius: 0.3em;
    font-size: 0.9em;
    font-family: Verdana;
    background-color: rgba(104, 106, 106, 0.3);
    border: 2px solid transparent;
    border-bottom-color: #bbb;
    padding: 0.5em;
    
    outline: 0;
    font-size: 1em;
}


.form .form-control input:invalid:focus {
    border-bottom: 2px solid #ff000d;
}

.form .form-control input:valid:focus {
    border-bottom: 2px solid rgb(218, 86, 46);
    transition: 0.3s;
}

.form .form-control input:focus {
    border-bottom: 2px solid #8e999a;
    background-color: rgb(104, 106, 106);
}

.boton {
    border: 1px solid white;
    margin: 0.5rem 0;
    background: rgb(218, 86, 46);
    width: 40%;
    padding: 0.5rem;
    border-radius: 0.4em;
    font-size: 1.4em;
    text-align: center;
}

.boton:hover {
    background: rgb(139, 55, 29);
    transition: 0.5s;
    cursor: pointer;
}

.mensaje_error {
    color: #ef2929;
    display: block;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    margin: 1px auto;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .acceder {
        height: 70vh;
        padding-top: 100px;
        padding-bottom: 10px;
        font-size: 10px;
    }

    .form {
        height: 60%;
        padding: 1.5em;
        margin-top: 0.2em;
    }

    label,
    input {
        border-radius: 0.2em;
        font-size: 0.7em;
    }
    
    .mensaje_error {
        font-size: 0.65em;
    } 
    
    .boton {
        margin: 20px;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 0.75em;
    }  
}

@media screen and (max-width: 480px){ /*RESPONIVE PARA CELULARES*/

}
